In [1]:
from pandas_datareader import data
import pandas as pd
import datetime as dt
% matplotlib inline

In [10]:
def download_from_yahoo(tickers, start_date, end_date):
    
    data_source = 'yahoo'
    panel_data = data.DataReader(tickers, data_source, start_date, end_date)
    close = panel_data.loc['Close']

    all_weekdays = pd.date_range(start=start_date, end=end_date, freq='B')
    close = close.reindex(all_weekdays)
    return close

In [11]:
df_tickers = pd.read_csv(r"financial_data/tickers.csv", sep=';')
df_tickers

    Ticker       Yahoo
0     IBEX       ^IBEX
1      DAX      ^GDAXI
2  FSTEMIB  FTSEMIB.MI
3   CAC 40       ^FCHI
4     SX5E   ^STOXX50E
5   SP 500       ^GSPC

In [30]:
start_date = dt.date(2000,1,1)
start = '2000-01-01'
end_date = dt.datetime.now()
end = end_date.strftime('%Y-%m-%d')

yahoo_tickers = df_tickers["Yahoo"].values

tracks = download_from_yahoo(yahoo_tickers, start, end)
tracks.tail()

,FTSEMIB.MI,^FCHI,^GDAXI,^GSPC,^IBEX,^STOXX50E
2017-11-09,22641.300781,5407.750000,13182.559570,2584.620117,10141.099609,3612.500000
2017-11-10,22560.800781,5380.720215,13127.469727,2582.300049,10092.700195,3593.760010
2017-11-13,22437.599609,5341.629883,13074.419922,2584.840088,10049.900391,3574.520020
2017-11-14,22297.099609,5315.580078,13033.480469,2578.870117,9990.400391,3556.379883
2017-11-15,22055.220703,5277.220215,12892.740234,2564.229980,9938.400391,3525.479980

In [31]:
index = pd.date_range(start=start_date,end=end_date,freq='B')
tracks = tracks.reindex(index=index).ffill()
tracks = tracks.dropna()
tracks.columns = [df_tickers[df_tickers["Yahoo"]==x]["Ticker"].iloc[0] for x in tracks.columns]
tracks.tail()

,FSTEMIB,CAC 40,DAX,SP 500,IBEX,SX5E
2017-11-09,22641.300781,5407.750000,13182.559570,2584.620117,10141.099609,3612.500000
2017-11-10,22560.800781,5380.720215,13127.469727,2582.300049,10092.700195,3593.760010
2017-11-13,22437.599609,5341.629883,13074.419922,2584.840088,10049.900391,3574.520020
2017-11-14,22297.099609,5315.580078,13033.480469,2578.870117,9990.400391,3556.379883
2017-11-15,22055.220703,5277.220215,12892.740234,2564.229980,9938.400391,3525.479980

In [32]:
tracks.to_csv(r"financial_data/yahoo_prices.csv")

In [33]:
tracks = pd.read_csv(r"financial_data/yahoo_prices.csv", index_col=0)
tracks

,FSTEMIB,CAC 40,DAX,SP 500,IBEX,SX5E
2000-01-03,41226.000000,5917.370117,6750.759766,1455.219971,11610.000000,4849.220215
2000-01-04,40314.000000,5672.020020,6586.950195,1399.420044,11206.599609,4657.830078
2000-01-05,39452.000000,5479.700195,6502.069824,1402.109985,10863.099609,4541.750000
2000-01-06,38835.000000,5450.109863,6474.919922,1403.449951,10863.099609,4500.689941
2000-01-07,40194.000000,5539.609863,6780.959961,1441.469971,11102.400391,4648.270020
2000-01-10,39711.000000,5646.120117,6925.520020,1457.599976,11173.299805,4714.029785
2000-01-11,39870.000000,5613.899902,6891.250000,1438.560059,11012.400391,4671.500000
2000-01-12,40289.000000,5582.500000,6912.810059,1432.250000,10851.799805,4649.299805
2000-01-13,40499.000000,5633.240234,6955.979980,1449.680054,10931.900391,4688.350098
2000-01-14,41588.000000,5787.439941,7173.220215,1465.150024,11184.000000,4829.359863
2000-01-17,41546.000000,5842.779785,7258.899902,1465.150024,11285.599609,4884.500000
2000-01-18,41109.000000,5672.950195,7072.120117,1455.140015,11066.299805,4761.000000
2000-01-19,41436.000000,5649.459961,7091.040039,1455.900024,11120.700195,4768.370117
2000-01-20,41690.000000,5709.740234,7112.660156,1445.569946,11047.599609,4778.709961
2000-01-21,41702.000000,5681.319824,6992.750000,1441.359985,10969.299805,4719.290039
2000-01-24,42012.000000,5690.859863,6931.990234,1401.530029,10955.000000,4718.759766
2000-01-25,41165.000000,5597.500000,6809.640137,1410.030029,10863.500000,4653.609863
2000-01-26,41361.000000,5646.319824,6969.370117,1404.089966,11031.400391,4721.029785
2000-01-27,41939.000000,5688.350098,7126.129883,1398.560059,11206.599609,4786.819824
2000-01-28,41854.000000,5731.049805,7066.600098,1360.160034,11009.299805,4781.939941
2000-01-31,41463.000000,5659.810059,6835.600098,1394.459961,10835.099609,4684.479980
2000-02-01,42403.000000,5773.419922,7050.459961,1409.280029,10970.000000,4792.040039
2000-02-02,42993.000000,5946.859863,7171.950195,1409.119995,11195.599609,4902.120117
2000-02-03,43889.000000,6149.669922,7354.259766,1424.969971,11544.099609,5046.120117
2000-02-04,44091.000000,6275.720215,7444.609863,1424.369995,11580.099609,5119.790039
2000-02-07,43730.000000,6203.580078,7296.319824,1424.239990,11506.799805,5041.080078
2000-02-08,45150.000000,6297.660156,7549.879883,1441.719971,11834.799805,5176.169922
2000-02-09,45101.000000,6271.600098,7629.109863,1411.709961,11939.500000,5191.790039
2000-02-10,45785.000000,6207.520020,7709.270020,1416.829956,12020.599609,5174.350098
2000-02-11,46878.000000,6287.009766,7611.549805,1387.119995,12432.599609,5195.669922
...,...,...,...,...,...,...
2017-10-05,22566.000000,5379.209961,12968.049805,2552.070068,10214.700195,3594.909912
2017-10-06,22392.300781,5359.899902,12955.940430,2549.330078,10185.500000,3603.320068
2017-10-09,22476.699219,5365.830078,12976.400391,2544.729980,10236.000000,3610.500000
2017-10-10,22335.900391,5363.649902,12949.250000,2550.639893,10142.299805,3598.790039
2017-10-11,22552.199219,5362.410156,12970.679688,2555.239990,10278.400391,3607.389893
2017-10-12,22398.500000,5360.810059,12982.889648,2550.929932,10275.900391,3605.540039
2017-10-13,22413.500000,5351.740234,12991.870117,2553.169922,10258.000000,3604.550049
2017-10-16,22428.300781,5362.879883,13003.700195,2557.639893,10181.400391,3606.270020
2017-10-17,22337.800781,5361.370117,12995.059570,2559.360107,10216.799805,3607.770020
2017-10-18,22354.699219,5383.810059,13043.030273,2561.260010,10273.400391,3619.649902
2017-10-19,22133.199219,5368.290039,12990.099609,2562.100098,10197.500000,3602.080078
2017-10-20,22346.900391,5372.379883,12991.280273,2575.209961,10222.700195,3605.090088
2017-10-23,22379.199219,5386.810059,13003.139648,2564.979980,10161.400391,3608.870117
2017-10-24,22629.599609,5394.799805,13013.190430,2569.129883,10205.700195,3610.689941
2017-10-25,22446.400391,5374.890137,12953.410156,2557.149902,10153.299805,3591.459961
2017-10-26,22807.400391,5455.399902,13133.280273,2560.399902,10347.799805,3637.199951
2017-10-27,22665.000000,5494.129883,13217.540039,2581.070068,10197.500000,3637.199951
2017-10-30,22752.900391,5493.629883,13229.570313,2572.830078,10446.000000,3662.179932
2017-10-31,22793.699219,5503.290039,13229.570313,2575.260010,10523.500000,3673.949951
2017-11-01,22992.000000,5514.290039,13465.509766,2579.360107,10506.700195,3697.399902
2017-11-02,23046.099609,5510.500000,13440.929688,2579.850098,10457.799805,3697.399902
2017-11-03,23014.099609,5517.970215,13478.860352,2587.840088,10357.799805,3689.959961
2017-11-06,23014.099609,5507.250000,13468.790039,2591.129883,10316.500000,3682.360107
2017-11-07,22962.599609,5480.640137,13379.269531,2590.639893,10230.700195,3658.770020
2017-11-08,22831.300781,5471.430176,13382.419922,2594.379883,10228.700195,3655.040039
2017-11-09,22641.300781,5407.750000,13182.559570,2584.620117,10141.099609,3612.500000
2017-11-10,22560.800781,5380.720215,13127.469727,2582.300049,10092.700195,3593.760010
2017-11-13,22437.599609,5341.629883,13074.419922,2584.840088,10049.900391,3574.520020
2017-11-14,22297.099609,5315.580078,13033.480469,2578.870117,9990.400391,3556.379883
2017-11-15,22055.220703,5277.220215,12892.740234,2564.229980,9938.400391,3525.479980