In [5]:
from pandas_datareader import data
import pandas as pd
import datetime as dt

In [6]:
def download_from_google(tickers, start_date, end_date):
    
    data_source = 'yahoo'
    panel_data = data.DataReader(tickers, data_source, start_date, end_date)
    close = panel_data.loc['Close']

    all_weekdays = pd.date_range(start=start_date, end=end_date, freq='B')
    close = close.reindex(all_weekdays)
    return close

In [7]:
df_tickers = pd.read_csv(r"financial_data/tickers.csv", sep=';')
df_tickers

    Ticker       Yahoo
0     IBEX       ^IBEX
1      DAX      ^GDAXI
2  FSTEMIB  FTSEMIB.MI
3   CAC 40       ^FCHI
4     SX5E   ^STOXX50E

In [18]:
start_date = '2010-01-01'
end_date = dt.datetime.now().strftime('%Y-%m-%d')

yahoo_tickers = df_tickers["Yahoo"].values

tracks = download_from_google(yahoo_tickers, start_date, end_date)

index = pd.date_range(start=dt.date(2010,1,1),end=dt.date.today(),freq='B')
tracks = tracks.reindex(index=index).ffill()
tracks = tracks.dropna()
tracks.columns = df_tickers["Ticker"].values
tracks.head()

                    IBEX          DAX      FSTEMIB        CAC 40         SX5E
2010-01-04  23545.000000  4013.969971  6048.299805  12145.099609  3017.800049
2010-01-05  23555.699219  4012.909912  6031.859863  12204.400391  3012.360107
2010-01-06  23622.300781  4017.669922  6034.330078  12222.500000  3009.659912
2010-01-07  23709.000000  4024.800049  6019.359863  12166.299805  3007.340088
2010-01-08  23811.099609  4045.139893  6037.609863  12163.000000  3017.850098

In [20]:
tracks.to_csv(r"financial_data/prices.csv")