In [32]:
from pandas_datareader import data
import pandas as pd
import datetime as dt
% matplotlib inline

In [33]:
def download_from_google(tickers, start_date, end_date):
    
    data_source = 'yahoo'
    panel_data = data.DataReader(tickers, data_source, start_date, end_date)
    close = panel_data.loc['Close']

    all_weekdays = pd.date_range(start=start_date, end=end_date, freq='B')
    close = close.reindex(all_weekdays)
    return close

In [34]:
df_tickers = pd.read_csv(r"financial_data/tickers.csv", sep=';')
df_tickers

    Ticker       Yahoo
0     IBEX       ^IBEX
1      DAX      ^GDAXI
2  FSTEMIB  FTSEMIB.MI
3   CAC 40       ^FCHI
4     SX5E   ^STOXX50E

In [35]:
start_date = '2010-01-01'
end_date = dt.datetime.now().strftime('%Y-%m-%d')

yahoo_tickers = df_tickers["Yahoo"].values

tracks = download_from_google(yahoo_tickers, start_date, end_date)
tracks.tail()

              FTSEMIB.MI        ^FCHI        ^GDAXI         ^IBEX    ^STOXX50E
2017-11-08  22831.300781  5471.430176  13382.419922  10228.700195  3655.040039
2017-11-09  22641.300781  5407.750000  13182.559570  10141.099609  3612.500000
2017-11-10  22560.800781  5380.720215  13127.469727  10092.700195  3593.760010
2017-11-13  22437.599609  5341.629883  13074.419922  10049.900391  3574.520020
2017-11-14  22297.099609  5315.580078  13033.480469   9990.400391  3556.379883

In [42]:
index = pd.date_range(start=dt.date(2010,1,1),end=dt.date.today(),freq='B')
tracks = tracks.reindex(index=index).ffill()
tracks = tracks.dropna()
tracks.columns = [df_tickers[df_tickers["Yahoo"]==x]["Ticker"].iloc[0] for x in tracks.columns]
tracks.tail()

                 FSTEMIB       CAC 40           DAX          IBEX         SX5E
2017-11-08  22831.300781  5471.430176  13382.419922  10228.700195  3655.040039
2017-11-09  22641.300781  5407.750000  13182.559570  10141.099609  3612.500000
2017-11-10  22560.800781  5380.720215  13127.469727  10092.700195  3593.760010
2017-11-13  22437.599609  5341.629883  13074.419922  10049.900391  3574.520020
2017-11-14  22297.099609  5315.580078  13033.480469   9990.400391  3556.379883

In [43]:
tracks.to_csv(r"financial_data/prices.csv")

In [44]:
tracks = pd.read_csv(r"financial_data/prices.csv", index_col=0)
tracks

                 FSTEMIB       CAC 40           DAX          IBEX         SX5E
2010-01-04  23545.000000  4013.969971   6048.299805  12145.099609  3017.800049
2010-01-05  23555.699219  4012.909912   6031.859863  12204.400391  3012.360107
2010-01-06  23622.300781  4017.669922   6034.330078  12222.500000  3009.659912
2010-01-07  23709.000000  4024.800049   6019.359863  12166.299805  3007.340088
2010-01-08  23811.099609  4045.139893   6037.609863  12163.000000  3017.850098
2010-01-11  23774.800781  4043.090088   6040.500000  12074.500000  3010.239990
2010-01-12  23583.300781  4000.050049   5943.000000  11966.099609  2976.889893
2010-01-13  23658.400391  4000.860107   5963.140137  11958.299805  2978.409912
2010-01-14  23806.000000  4015.770020   5988.879883  11999.799805  2989.709961
2010-01-15  23472.099609  3954.379883   5875.970215  11845.000000  2940.250000
2010-01-18  23509.800781  3977.459961   5918.549805  11870.700195  2957.870117
2010-01-19  23705.699219  4009.669922   5976.479980  12022.599609  2984.820068
2010-01-20  23126.000000  3928.949951   5851.529785  11709.000000  2914.600098
2010-01-21  22876.500000  3862.159912   5746.970215  11444.000000  2863.250000
2010-01-22  22567.800781  3820.780029   5695.319824  11373.400391  2836.800049
2010-01-25  22373.099609  3781.850098   5631.370117  11249.299805  2807.300049
2010-01-26  22407.699219  3807.040039   5668.930176  11347.299805  2827.739990
2010-01-27  21997.599609  3759.800049   5643.200195  11042.200195  2787.399902
2010-01-28  21603.099609  3688.790039   5540.330078  10829.299805  2737.330078
2010-01-29  21896.300781  3739.459961   5608.790039  10947.700195  2776.830078
2010-02-01  22012.000000  3762.010010   5654.479980  10995.200195  2793.290039
2010-02-02  22413.699219  3812.129883   5709.660156  11140.900391  2830.010010
2010-02-03  22169.199219  3793.469971   5672.089844  10888.400391  2804.610107
2010-02-04  21404.800781  3689.250000   5533.240234  10241.700195  2707.449951
2010-02-05  20815.900391  3563.760010   5434.339844  10103.299805  2631.639893
2010-02-08  20938.199219  3607.270020   5484.850098  10206.299805  2664.290039
2010-02-09  20819.000000  3612.760010   5498.259766  10275.400391  2668.429932
2010-02-10  21241.599609  3635.610107   5536.370117  10455.000000  2700.169922
2010-02-11  21076.400391  3616.750000   5503.930176  10281.700195  2680.250000
2010-02-12  21035.900391  3599.070068   5500.390137  10224.900391  2674.459961
...                  ...          ...           ...           ...          ...
2017-10-04  22456.400391  5363.229980  12970.519531   9964.900391  3594.909912
2017-10-05  22566.000000  5379.209961  12968.049805  10214.700195  3594.909912
2017-10-06  22392.300781  5359.899902  12955.940430  10185.500000  3603.320068
2017-10-09  22476.699219  5365.830078  12976.400391  10236.000000  3610.500000
2017-10-10  22335.900391  5363.649902  12949.250000  10142.299805  3598.790039
2017-10-11  22552.199219  5362.410156  12970.679688  10278.400391  3607.389893
2017-10-12  22398.500000  5360.810059  12982.889648  10275.900391  3605.540039
2017-10-13  22413.500000  5351.740234  12991.870117  10258.000000  3604.550049
2017-10-16  22428.300781  5362.879883  13003.700195  10181.400391  3606.270020
2017-10-17  22337.800781  5361.370117  12995.059570  10216.799805  3607.770020
2017-10-18  22354.699219  5383.810059  13043.030273  10273.400391  3619.649902
2017-10-19  22133.199219  5368.290039  12990.099609  10197.500000  3602.080078
2017-10-20  22346.900391  5372.379883  12991.280273  10222.700195  3605.090088
2017-10-23  22379.199219  5386.810059  13003.139648  10161.400391  3608.870117
2017-10-24  22629.599609  5394.799805  13013.190430  10205.700195  3610.689941
2017-10-25  22446.400391  5374.890137  12953.410156  10153.299805  3591.459961
2017-10-26  22807.400391  5455.399902  13133.280273  10347.799805  3637.199951
2017-10-27  22665.000000  5494.129883  13217.540039  10197.500000  3637.199951
2017-10-30  22752.900391  5493.629883  13229.570313  10446.000000  3662.179932
2017-10-31  22793.699219  5503.290039  13229.570313  10523.500000  3673.949951
2017-11-01  22992.000000  5514.290039  13465.509766  10506.700195  3697.399902
2017-11-02  23046.099609  5510.500000  13440.929688  10457.799805  3697.399902
2017-11-03  23014.099609  5517.970215  13478.860352  10357.799805  3689.959961
2017-11-06  23014.099609  5507.250000  13468.790039  10316.500000  3682.360107
2017-11-07  22962.599609  5480.640137  13379.269531  10230.700195  3658.770020
2017-11-08  22831.300781  5471.430176  13382.419922  10228.700195  3655.040039
2017-11-09  22641.300781  5407.750000  13182.559570  10141.099609  3612.500000
2017-11-10  22560.800781  5380.720215  13127.469727  10092.700195  3593.760010
2017-11-13  22437.599609  5341.629883  13074.419922  10049.900391  3574.520020
2017-11-14  22297.099609  5315.580078  13033.480469   9990.400391  3556.379883

[2052 rows x 5 columns]