In [2]:
%load_ext autoreload
%autoreload 2
% matplotlib inline

In [3]:
import pandas as pd
import seaborn as sns

from tools import make_track, ols_regression
sns.set()

In [4]:
prices = pd.read_csv(r"financial_data/yahoo_prices.csv", index_col=0, parse_dates=True).drop("SP 500", axis=1)
returns = prices.resample("7D").apply(lambda x:x[0]).pct_change().dropna()

In [5]:
sx5e = returns[["SX5E"]]
bch = returns.drop("SX5E", axis=1)

size = 52
freq = 13
bounds = (0,1)
total_weight = 1

df_weight = ols_regression(sx5e, bch, size, freq, boundaries=bounds, weight_sum=total_weight)
df_weight.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FSTEMIB</th>
      <th>CAC 40</th>
      <th>DAX</th>
      <th>IBEX</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2001-01-08</th>
      <td>4.807258e-01</td>
      <td>0.066135</td>
      <td>2.689400e-01</td>
      <td>0.184199</td>
    </tr>
    <tr>
      <th>2001-04-09</th>
      <td>5.974600e-01</td>
      <td>0.154159</td>
      <td>5.959202e-02</td>
      <td>0.188789</td>
    </tr>
    <tr>
      <th>2001-07-09</th>
      <td>6.243168e-01</td>
      <td>0.241675</td>
      <td>0.000000e+00</td>
      <td>0.134008</td>
    </tr>
    <tr>
      <th>2001-10-08</th>
      <td>0.000000e+00</td>
      <td>0.717226</td>
      <td>1.106196e-16</td>
      <td>0.282774</td>
    </tr>
    <tr>
      <th>2002-01-07</th>
      <td>1.387779e-17</td>
      <td>0.672562</td>
      <td>1.985007e-16</td>
      <td>0.327438</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
prices_for_track = prices.loc[df_weight.index[0]:].drop("SX5E", axis=1)
replication = make_track(prices_for_track, df_weight)

df_res = prices.loc[replication.index][["SX5E"]]
df_res["OLS"] = replication

df_res = df_res / df_res.iloc[0]

In [ ]:
df_res.plot(figsize=(12,6),linewidth=1)